.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-color: var(--bg-hero);
  background-image: linear-gradient(
      to right,
      var(--hero-gradient),
      var(--hero-gradient)
    ),
    url(../../images/bgheroMob.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $tab) {
    background-image: url(../../images/bgheroTab.jpg);
  }

  @media screen and (min-width: $desk) {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: url(../../images/bghero.jpg);
  }
}

.hero__title {
  margin-bottom: 30px;
  @include font(900, 26px, 1.61538, 0.06em);
  color: var(--primary-whait-color);

  @media screen and (min-width: $desk) {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__btn {
  min-width: 216px;
}
