.project {
  @media screen and (min-width: $tab) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.project__item {
  @media screen and (max-width: 767.5px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: $tab) {
    flex-basis: calc((100% - 1 * 30px) / 2);
  }
  @media screen and (min-width: $desk) {
    flex-basis: calc((100% - 2 * 30px) / 3);
  }
}
