.team {
  background: var(--color-section-background2);
}

.team__list {
  display: flex;
  gap: 30px;
}

.team__content {
  margin-top: 30px;
  margin-bottom: 30px;
}

.team__item {
  flex-basis: calc((100% - 3 * 30px) / 4);
  border-radius: 0 0 4px 4px;
  background: var(--primary-whait-color);
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.team__title {
  margin-bottom: 10px;
  @include font(500, 16px, 1.2, 0.03em);
  text-align: center;
  color: var(--title-text-color);
}

.team__profession {
  margin-bottom: 16px;
  @include font-letter(16px, 1.2, 0.03em);
  text-align: center;
}
