h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  outline: 0px;
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

svg {
  fill: currentColor;
}

input:focus,
textarea:focus {
  outline: 0;
}

address {
  font-style: normal;
}