:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-whait-color: #ffffff;
  --primary-black-color: #000000;
  --color-with-transparency: rgba(255, 255, 255, 0.6);
  --color-section-background: #2f303a;
  --color-section-background2: #f5f4fa;
  --color-liane-card: #eeeeee;
  --hero-gradient: rgba(47, 48, 58, 0.4);
  --color-icon: #afb1b8;
  --color-icon-social: #AFB1B8;
  --color-line-heder: #ececec;
  --color-social-bgfooter: rgba(255, 255, 255, 0.1);
  --bg-specialty-title: rgba(47, 48, 58, 0.8);
  --footer-border-input: rgba(255, 255, 255, 0.3);
  --form-border-input: rgba(33, 33, 33, 0.2);
  --bg-card-overlay: rgba(33, 150, 243, 0.9);
  --bg-backdrop: rgba(0, 0, 0, 0.2);
  --color-border-close: rgba(0, 0, 0, 0.1);
  --color-texterea-placeholder: rgba(117, 117, 117, 0.5);
  --bg-btn-form-hover: #188ce8;
}